In [1]:
# import pandas 
import pandas as pd

In [2]:
# retrieve csv file
city = pd.read_csv('Resources/city_data.csv')
city.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed
0,0,Mackay,40,AU,1600301117,73,-21.15,149.20,24.44,7.20
1,1,Isangel,40,VU,1600301117,57,-19.55,169.27,27.00,5.10
2,2,Busselton,0,AU,1600301117,72,-33.65,115.33,11.11,2.68
3,3,Ushuaia,40,AR,1600301052,64,-54.80,-68.30,4.00,8.20
4,4,Santiago del Estero,33,AR,1600301117,36,-27.80,-64.26,21.09,3.69

In [3]:
# put csv into dataframe
city_df = pd.DataFrame(city)
city_df.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed
0,0,Mackay,40,AU,1600301117,73,-21.15,149.20,24.44,7.20
1,1,Isangel,40,VU,1600301117,57,-19.55,169.27,27.00,5.10
2,2,Busselton,0,AU,1600301117,72,-33.65,115.33,11.11,2.68
3,3,Ushuaia,40,AR,1600301052,64,-54.80,-68.30,4.00,8.20
4,4,Santiago del Estero,33,AR,1600301117,36,-27.80,-64.26,21.09,3.69

In [8]:
# convert dataframe to html file
city_html = city_df.to_html('my_city_table.html')
# city_html

In [11]:
html_city_table = city_df.to_html()